<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner" style="text-align: center;">
      <a href="http://weibo.com/378910504" style="text-decoration:none;">
	<span class="fa-stack fa-lg" style="color: white;">
	 	<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-weibo fa-stack-1x fa-inverse" style="color: black;"></i>
	</span>
      </a>
      <a href="https://instagram.com/vurtnec" style="text-decoration:none;">
	<span class="fa-stack fa-lg" style="color: white;">
	 	<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-instagram fa-stack-1x fa-inverse" style="color: black;"></i>
	</span>
      </a>
      <a href="hhttps://github.com/vurtnec" style="text-decoration:none;">
	<span class="fa-stack fa-lg" style="color: white;">
	 	<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-github fa-stack-1x fa-inverse" style="color: black;"></i>
	</span>
      </a>

      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    </div>
  </div>
</footer>